<div
  *ngIf="task"
  class="task"
>
  <div
    class="inner-task"
  >
    <app-editable-text
      class="task-name"
      [value]="task.name"
      (editEnd)="rename($event)"
    ></app-editable-text>
    
    <div
      class="delete-btn"
      (mousedown)="delete()"
    >
      x
    </div>
  </div>

  <div
    class="card-list"
    [id]="task.name"
    cdkDropList
    [cdkDropListData]="task.cards"
    [cdkDropListConnectedTo]="allTasksIds"
    (cdkDropListDropped)="dropCard($event)"
  >
    <app-card-view
      *ngFor="let card of task.cards"
      class="card"
      [card]="card"
      cdkDrag
      (onDelete)="deleteCard($event)"
    ></app-card-view>

    <div
      class="new-card-btn"
      (mousedown)="newCard()"
    >+</div>
  </div>
</div>