<div>
	<div
		class="project-bar"
		cdkDropList
		cdkDropListOrientation="horizontal"
		(cdkDropListDropped)="dropTab($event)">
		
		<div
			*ngFor="let p of projects"
			[ngClass]="{'selected': p === selected}"
			class="project-tab"
			cdkDrag
			cdkDragLockAxis="x"
			(mousedown)="onSelectTab(p)">
			
			<app-editable-text
				class="project-name"
				[value]="p.name"
				(editEnd)="rename($event, p)"
			>
			</app-editable-text>

			<div
				class="delete-btn"
				(mousedown)="deleteProject(p)"
			>
				x
			</div>
		</div>

		<div
			class="new-project-btn"
			(mousedown)="newTab()">
			+
		</div>
	</div>

	<app-project-view [project]="selected"></app-project-view>
</div>